/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #232536;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

/*Comon Style*/
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*Reset Styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li,
ol {
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
}
.img {
  display: block;
  max-width: 100%;
}

/**Header**/
.header {
  background-color: #232536;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.container {
  display: flex;
}

.logo-svg {
  display: block;
  fill: #ffffff;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 24px;
  margin-right: 32px;
  margin-left: auto;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  color: #ffffff;
  line-height: 1.75;
  padding: 26px 0;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #edc14a;
  transition: color 300ms ease-in-out;
}
.header-btn {
  background-color: #ffffff;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  padding: 16px 48px;
  transition: background-color 300ms ease-in;
}
.header-btn:hover,
.header-btn:focus {
  background-color: #edc14a;
}
/**Hero**/
.hero {
  background-color: black;
  padding: 208px 556px 192px 80px;
}
.bg-hero {
  background-image: radial-gradient(
      80.99% 71.93% at 74.58% 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(./images/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.hero-info {
  width: 803px;
}
.hero-subtitle {
  color: #fff;
  font-family: Inter;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero-title {
  color: #fff;
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}
.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 599px;
  margin-bottom: 48px;
}
.hero-author-info {
  color: #fff;
  line-height: 1.75; /* 175% */
}

.hero-link {
  color: #ffd050;
}
.hero-text {
  color: #fff;
  line-height: 1.75; /* 175% */
}
.hero-btn {
  display: inline-flex;
  background-color: #ffd050;
  padding: 16px 48px;
  align-items: flex-start;
  gap: 12px;
  color: var(--Black, #232536);
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  transition: background-color 300ms ease-in;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #edc14a;
}

/**section Posts**/
.posts {
  padding-top: 130px;
  padding-bottom: 130px;
}
.posts-title {
  visibility: hidden;
}
.posts .container {
  display: flex;
  gap: 32px;
}
.featured-post {
}
.featured-subtitle {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05;
  margin-bottom: 32px;
}
.featured-post-wrapper {
  width: 733px;
  height: auto;
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.1);
}
.featured-post-img {
  margin-bottom: 32px;
}
.featured-author-info {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  margin-bottom: 16px;
}
.featured-author-link {
  color: #592ea9;
}

.featured-wrapper-text.accent {
  color: #232536;
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.42; /* 142.857% */
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}
.featured-wrapper-text {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
  margin-bottom: 32px;
}
.featured-wrapper-btn {
  background-color: #ffd050;
  padding: 16px 48px;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  transition: background-color 250ms ease-in;
}

.featured-wrapper-btn:hover,
.featured-wrapper-btn:focus {
  background-color: #edc14a;
}

.all-post {
}
.all-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.all-post-link {
  margin-left: auto;
  color: #592ea9;
  line-height: 1.75; /* 175% */
}
.all-subtitle {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05;
}
.all-post-list {
}
.all-post-item {
  padding: 32px 116px 25px 32px;
  width: 517px;
  height: auto;
  cursor: pointer;
}

.all-post-item.accent {
  background-color: #fbf6ea;
}
.all-author-info {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  margin-bottom: 8px;
}
.all-acthor-link {
  color: #592ea9;
}
.all-text {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}

/**About**/
.form-wrapper-about {
  display: flex;
  align-items: center;
  justify-content: end;
}
.form-about.yellow-form {
  width: 779px;
  height: 23px;
  background-color: #ffd050;
}

.form-about.blue-form {
  width: 282px;
  height: 23px;
  background-color: #592ea9;
}

.about-content {
  display: flex;
  gap: 83px;
  background-color: #f4f0f8;
  padding: 96px 108px 96px 80px;
}
.about-title {
  visibility: hidden;
}
.about-us {
  width: 515px;
  padding-right: 21px;
}
.about-us-sibtitle {
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.about-us-resume {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
.about-us-text {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
  margin-bottom: 16px;
}
.about-us-link {
  color: #592ea9;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77; /* 177.778% */
}

.our-mision {
  width: 516px;
  padding-right: 35px;
}
.our-mision-sibtitle {
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.our-mision-resume {
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}
.our-mision-text {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
  margin-bottom: 16px;
}

/**Category**/
.category {
  padding: 128px 0;
}
.category-title {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05em;
  text-align: center;
  margin-bottom: 48px;
}
.category-list {
  display: flex;
  gap: 32px;
}
.category-item {
  width: 296px;
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  cursor: pointer;
  transition: background-color 250ms ease-in;
}
.category-item:hover,
.category-item:focus {
  background-color: #ffd050;
}

.wrapper-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: #fbf6ea;
  margin-bottom: 16px;
}
.category-svg {
}
.category-subtitle {
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.42; /* 142.857% */
  letter-spacing: -0.03em;
  margin-bottom: 4px;
}
.category-text {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
}

/**Special-Post**/
.special-post {
  padding-bottom: 128px;
}
.special-post .container {
  position: relative;
}

.special-post-img {
}
.special-post-content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 706px;
  padding: 80px;
  height: 584px;
  background: #fff;
}
.special-content-title {
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.special-text-accent {
  font-family: Sen;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.06em;
  margin-bottom: 16px;
}
.special-text {
  color: #6d6e76;
  line-height: 28px; /* 175% */
  margin-bottom: 32px;
}
.special-btn {
  padding: 16px 48px;
  background-color: #ffd050;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  transition: background-color 300ms ease-out;
}
.special-btn:hover,
.special-btn:focus {
  background-color: #edc14a;
}
/**Authors list**/
.authors-list {
}
.container {
}
.authors-list-title {
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05em;
  margin-bottom: 48px;
}
.authors-list-list {
  display: flex;
  gap: 32px;
}
.authors-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 296px;
  padding: 40px 28px;
  background-color: #f4f4f4;
  transition: background-color 300ms ease-in-out;
}
.authors-list-item:hover,
.authors-list-item:focus {
  background-color: #fbf6ea;
}

.authors-list-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.authors-list-name {
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.42; /* 142.857% */
  letter-spacing: -0.03em;
}
.authors-list-work {
  color: #6d6e76;
  text-align: center;
  font-size: 14px;
  line-height: 1.42; /* 142.857% */
  margin-bottom: 20px;
}
.authors-list-socials {
  display: flex;
  gap: 16px;
}
.socials-item {
}
.authors-socials-svg {
}

/**Logo component**/
.logo-component {
  padding-top: 96px;
  padding-bottom: 96px;
}
.logo-component .container {
  display: flex;
  gap: 85px;
  align-items: center;
}

.featured-in {
}
.eatured-in-text {
  color: #6d6e76;
  font-size: 14px;
  line-height: 1.42; /* 142.857% */
}
.eatured-in-text.accent {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}
.logo-wrapper {
}
.logo-wrapper-list {
  display: flex;
  gap: 73px;
}
.logo-item {
}

.logo-wrapper-svg {
  fill: #6d6e76;
  transition: fill 300ms ease-in;
}
.logo-wrapper-link:hover .logo-wrapper-svg,
.logo-wrapper-link:focus .logo-wrapper-svg {
  fill: #edc14a;
}
.logo-wrapper-item {
}
/**Section Testimonials**/
.testimonials {
}

.testimonials .container {
  display: flex;
  gap: 180px;
  padding: 80px 111px 75px 112px;
  background-color: #fbf6ea;
}
.heading {
  position: relative;
  width: 349px;
}
.heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: -80px;
  width: 1px;
  height: 310px;
  background-color: #6d6e76;
  opacity: 0.4;
}
.heading-title {
  font-weight: 600;
  line-height: 1.25; /* 125% */
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.heading-text.accent {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
.heading-text {
  line-height: 1.75; /* 175% */
}

.messages {
}
.messages-text {
  width: 469px;
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  margin-bottom: 121px;
}
.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}
.profile-img {
  border-radius: 50%;
}
.profile-name {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}
.profile-adress {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
}
.profile-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.profile-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: background-color 300ms ease-in-out;
}
.profile-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232536;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  transition: background-color 300ms ease-in-out;
}
.profile-next-svg {
  fill: #fff;
}
.profile-next-btn:hover,
.profile-back-btn:hover {
  background-color: #edc14a;
}
.profile-next-btn:focus,
.profile-back-btn:focus {
  background-color: #edc14a;
}
/**Section Join**/
.join {
  padding-top: 128px;
  padding-bottom: 128px;
}

.join-wrapper {
  width: 414px;
  padding-left: 2px;
  margin: 0 auto;
}
.join-wrapper-title {
  text-align: center;
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.05em;
  margin-bottom: 16px;
}
.join-wrapper-text {
  color: #6d6e76;
  text-align: center;
  line-height: 1.75; /* 175% */
  margin-bottom: 32px;
}
.join-wrapper-btn {
  display: block;
  padding: 16px 48px;
  background-color: #ffd050;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  margin: 0 auto;
  transition: background-color 300ms ease-in-out;
}

.join-wrapper-btn:hover,
.join-wrapper-btn:focus {
  background-color: #edc14a;
}

/**Footer**/
.footer {
  background-color: #232536;
  padding-top: 59px;
  padding-bottom: 56px;
}

.container {
}
.footer-nav {
  display: flex;
  align-items: center;
  margin-bottom: 57px;
}
.logo-svg {
}
.footer-nav-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
}
.footer-nav-item {
}
.footer-nav-link {
  color: #fff;
  line-height: 1.75; /* 175% */
  transition: color 300ms ease-in-out;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #edc14a;
}

.cta {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.9)
  );

  margin-bottom: 50px;
}
.cta-text {
  width: 580px;
  color: #fff;
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.02em;
}
.cta-label {
}
.cta-input {
  width: 323px;
  height: 56px;
  padding: 14px 25px;
  outline: none;
  margin-right: 12px;
  border: none;
}

.cta-input::placeholder {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
}
.cta-btn {
  padding: 16px 48px;
  background-color: #ffd050;
  color: #232536;
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  transition: background-color 300ms ease-in-out;
}
.cta-btn:hover,
.cta-btn:focus {
  background-color: #edc14a;
}

.footer-adress-wrapper {
  display: flex;
  align-items: center;
}
.footer-adress {
}
.footer-text {
  color: #6d6e76;
  line-height: 1.75; /* 175% */
}

.footer-socials {
  margin-left: auto;
}
.footer-socials-list {
  display: flex;
  gap: 26px;
}
.footer-socials-item {
}
.footer-socials-link {
}
.footer-socials-svg {
  fill: #6d6e76;
}
